


<p>
  last-activities works!
</p>
<div class="row mb-3">
  <div class="col col-sm-6">
    <div class="card border-secondary mb-3"><!--style="max-width: 18rem;"-->
      <div class="card-header">
        Activity 1 (<strong>Id: someId</strong>)
      </div>
      <div class="card-body">
        <h5 class="card-title text-secondary">Activity</h5>
        <p class="card-text">Some text.</p>
        <div class="alert alert-info mb-0">

          <div class="col col-sm-6">
            <div class="card border-secondary mb-3"><!--style="max-width: 18rem;"-->
              <div class="card-header">
                Module A
              </div>
              <div class="card-body">
                <h5 class="card-title text-secondary">Activity</h5>
                <p class="card-text">Some text.</p>
                <!--<div class="alert alert-info mb-0">-->
                  <!--&lt;!&ndash;<strong>Message: </strong>{{model}}&ndash;&gt;-->
                <!--</div>-->
              </div>
            </div>
          </div>
          <!--<strong>Selected Value: </strong>{{model}}-->
        </div>
      </div>
    </div>
  </div>
</div>
